{% extends 'base.html' %}
{% block main_content %}
    <p>耗时概率分布图</p>

    <p><img src="/static/show.jpg"  width="1000" height="400"></p>
    <br>
    <p>单次采集分布图</p>

    <p><img src="/static/show1.jpg"  width="1000" height="400"></p>

    <p>耗时24小时分布图</p>
    <p><img src="/static/show2.jpg"  width="1000" height="400"></p>

    <p>采样策略更改前后开灯时长对比图（小时为单位）</p>
    <p><img src="/static/show3.jpg"  width="1000" height="400"></p>

    <p>采样次数及成功率对比</p>
    <p> <img src="/static/show4.jpg"  width="500" height="400">
        次数出现概率 -->
        <img src="/static/show5.jpg"  width="400" height="400">
    </p>

{% endblock %}